<div class="container-fluid" style="background-color:#eff5f5;">

    <div class="row  row-no-gutters">
      <div class="col-xs-12 col-sm-6 col-md-13" >
        <ul>
          <li class="col-heading">Kontakt</li>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+ 49 171 64 65 077">+ 49 171 64 65 077</a>
          </li>
          <li>
             <i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">Östlicher Stadtgraben 31, 94469 Deggendorf</a>
          </li> 
          <li>
             <i class="fa fa-envelope-square" aria-hidden="true"></i><a href="mailto:me@me-ss.de?subject=Kontakt über Homepage">Email</a>  
          </li> 
          <li>
            <i class="fa fa-font-awesome" aria-hidden="true"></i><a href="#">Steuernummer: 108/213/30047</a>
         </li> 
        </ul>
      </div>     

      
    </div> <!--  end row  -->
    
    <div class="row row-no-gutters" id="bottom-footer" >
      
      <div class="col-xs-12 col-md-5 text-center" >
        <ul>
          <li class="small">© Copyright 2024 Website by <a href="#" style="color:white;font-weight:500;">MESS</a>. All Rights reserved.</li>
        </ul>
      </div>
    </div> <!--  end row  -->

  </div> <!--  end container-fluid  -->


