.nav-item a:hover {
    /* background-color: #FFFFFF;  */
    color: #536872;
}

a.nav-link {
    color: white;
}

.offcanvas-header{ display:none; }



@media (max-width: 992px) {

  .offcanvas-header{ display:block; }

  
}