<form name="myMainForm">
<table style="width: 100%;" >
    <tbody>
  <tr style="vertical-align: top;">
      <td style="width: 83%;">
          <table style="width: 100%;">
            <tbody>
              <tr>
                <td>
                  <app-navbar></app-navbar>
                </td>
              </tr>
              <tr>
                <td>
                  <router-outlet style="margin: 10px;"></router-outlet>
                </td>
              </tr>
            </tbody>
          </table>
      </td>
      <td style="text-align: right;">
          <table style="vertical-align: top; ">
            <tbody>
              <tr>
                  <td >
                      <img src="SmallLogo.png" width="200" >
                  </td>
              </tr>
              <tr>
                  <td>
                      <p>
                          <img src="ME_Neu.jpg" width="200" style="margin:10px;">
                      </p>
                  </td>
              </tr>
            </tbody>
          </table>
      </td>
  </tr>

  <tr>
      <td colspan=2>
          <app-footer></app-footer>
      </td>
  </tr>
</tbody>
</table>

</form>