<h1>Wer bin ich?</h1>
<div>Ich bin ein Software Entwickler aus dem .NET Bereich, {{ currentAge }} Jahre alt, wohnhaft in Deggendorf.
<br>
Seit meinem Berufseinstieg bei Microsoft in München Anfang 2003 arbeite ich ohne Unterbrechung im .NET Bereich. 
Anfang 2008 habe ich mich selbständig gemacht und unterstütze seitdem auf Projektbasis Unternehmen in ganz Deutschland.
<p></p>

Ich bin immer an attraktiven Projekten und Kontakten interessiert, mein bevorzugter Einsatzort ist aktuell im Münchener Raum.
<p></p>
Falls Sie mehr über mich und meinen Werdegang wissen wollen, schauen Sie einfach auf die <a routerLink="/cv">Lebenslauf</a> Seite.
</div>